<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogToConsole="true"
      internalLogFile="./Data/Logs/internal-development.log">
	<variable name="logDirectory" value="./Data/Logs" />
	<variable name="subject" value="Sample Logging" />
	<variable name="body" value="${message}" />
	<variable name="from" value="zedan___2099@hotmail.com" />
	<variable name="priority" value="${mdlc:item=priority}" />
	<variable name="smtpServer" value="smtp.live.com" />
	<variable name="smtpUserName" value="zedan___2099@hotmail.com" />
	<variable name="smtpPassword" value="MutaZ1996!!!" />
	<variable name="to" value="mutazzuhairi14@gmail.com" />
	<variable name="bcc" value="" />
	<variable name="cc" value="" />
	<variable name="connectionString" value="Server=.;Database=Sample;Trusted_Connection=True;MultipleActiveResultSets=true" />

	<include file="./NLog.Local.config" ignoreErrors="true" />

	<extensions>
		<add assembly="NLog.MailKit"/>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets async="true">
		<target name="application"
			  xsi:type="Database"
				 dbProvider="System.Data.SqlClient"
			  connectionString="${var:connectionString}"
			  commandText="exec dbo.InsertApplicationLog
			              	@logger,
			                @requestId,
                            @level,
                            @callSite,
                            @type,
                            @message,
                            @stackTrace,
                            @innerException,
                            @additionalInfo">
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@requestId" layout="${aspnet-TraceIdentifier}" />
			<parameter name="@level" layout="${level:uppercase=true}" />
			<parameter name="@callSite" layout="${callsite}" />
			<parameter name="@type" layout="${exception:format=type}" />
			<parameter name="@message" layout="${exception:format=message}" />
			<parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
			<parameter name="@innerException" layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
			<parameter name="@additionalInfo" layout="${message}" />
		</target>

		<target name="activity"
				  xsi:type="Database"
				  dbProvider="System.Data.SqlClient"
				  connectionString="${var:connectionString}"
				  commandText="exec dbo.InsertActivityLog
			                @RequestId,
	                        @RequestIp,
	                        @RequestMethod,
	                        @RequestUrl,
	                        @Controller,
	                        @Action,
	                        @RequestQueryString,
	                        @ResponseStatusCode,
	                        @Level,
	                        @CallSite,
	                        @Message,
	                        @UserIdentityId,
	                        @UserIdentityUsername">
			<parameter name="@RequestId" layout="${aspnet-TraceIdentifier}" />
			<parameter name="@RequestIp" layout="${aspnet-request-ip}" />
			<parameter name="@RequestMethod" layout="${aspnet-request-method}" />
			<parameter name="@RequestUrl" layout="${aspnet-request-url}" />
			<parameter name="@Controller" layout="${aspnet-mvc-controller" />
			<parameter name="@Action" layout="${aspnet-mvc-action}" />
			<parameter name="@RequestQueryString" layout="${aspnet-request-querystring}" />
			<parameter name="@ResponseStatusCode" layout="${mdlc:item=responseStatusCode}" />
			<parameter name="@level" layout="${level:uppercase=true}" />
			<parameter name="@callSite" layout="${callsite}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@UserIdentityId" layout="${mdlc:item=userIdentityId}" />
			<parameter name="@UserIdentityUsername" layout="${mdlc:item=userIdentityUsername}" />

		</target>

		<target name="emailTarget" xsi:type="Mail"
			html="True"
			subject="${var:subject}"
			body="${var:body}"
			to="${var:to}"
			bcc="${var:bcc}"
			cc="${var:cc}"
			from="${var:from}"
			priority="${var:priority}"
			smtpServer="${var:smtpServer}"
			smtpPort="587"
			smtpAuthentication="Basic"
			smtpUserName="${var:smtpUserName}"
			smtpPassword="${var:smtpPassword}">
		</target>

	</targets>

	<rules>

		<logger name="Sample.Web.WebUtilities.Middlewares.ActivityLoggingMiddleware"
				minlevel="Info"
				writeTo="activity"
				final="true" />

		<logger name="Sample.BLLayer.Extends.ExtendServices.MailService"
				minlevel="Info"
				writeTo="application"
				final="true" />

		<logger name="*"
				minlevel="Error"
				writeTo="application"
				final="true" />

		<logger name="*"
			    minlevel="Error"
			    writeTo="emailTarget"
			    final="true" />

	</rules>
</nlog>